extends ../templates/layout

block content
  h1 Sesiones
  table.table
      thead
        tr
          th Sesion id
          th Cliente
          th Entrenador
          th Fecha
          th Hora de inicio
          th Duración
      tbody
        each sesion in sesiones
          tr
            td=sesion.id
            td=sesion.id_cliente
            td=sesion.id_entrenador
            td=sesion.fecha_inicio
            td=sesion.hora_inicio
            td=sesion.duracion_min