extends ../templates/layout

block content
  h1 Sesiones
  table
    thead
      tr
        th Fecha
        th Hora de inicio
        th Duración (minutos)
        th Cliente
        th Entrenador
        th Acciones
    tbody
      each sesion in sesiones
        tr
          td=sesion.fecha_inicio
          td=sesion.hora_inicio
          td=sesion.duracion_min
          td=sesion.id_cliente
          td=sesion.id_entrenador
          td
            a(href=`/sesiones/edit/${sesion.id}`) Editar
            a(href=`/sesiones/delete/${sesion.id}`) Eliminar
  a(href='/sesiones/add') Agregar nueva sesión