extends ../templates/layout

block content
    div.container 
        h3 Listado de entrenadores:
        table.table
            thead 
                tr 
                    th Id entrenador
                    th Nombre 
                    th Especialidad 
                    th Nivel de experiencia 
                    th Borrar 
                    th Editar
                    th Ver sesion
                    th Añadir sesion
            tbody 
                each entrenador in entrenadores 
                    tr 
                        td=entrenador.id
                        td=entrenador.nombre
                        td=entrenador.especialidad
                        td=entrenador.nivel_experiencia 
                        td 
                            a(href=`/entrenadores/delete/${entrenador.id}`) Borrar
                        td
                            a(href=`/entrenadores/edit/${entrenador.id}`) Editar
                        td
                            a(href=`/entrenadores/${entrenador.id}/sesiones`) Sesiones
                        td
                            a(href=`/entrenadores/${entrenador.id}/sesiones/add`) Añadir sesiones
        p 
            a(href=`/entrenadores/add`) Añadir