extends ../templates/layout

block content
    div.container 
        h3 Listado de entrenadores:
        table.table
            thead 
                tr 
                    th id_entrenador
                    th Nombre 
                    th Especialidad 
                    th Nivel de experiencia 
                    th Borrar 
                    th Editar
            tbody 
                each entrenador in entrenadores 
                    tr 
                        td=entrenador.id
                        td=entrenador.nombre
                        td=entrenador.especialidad
                        td=entrenador.nivel_experiencia 
                        td 
                            a(href=`/entrenadores/delete/${entrenador.id}`) Borrar
                        td
                            a(href=`/entrenadores/edit/${entrenador.id}`) Editar
        p 
            a(href=`/entrenadores/add`) Añadir