extends ../templates/layout

block content
  h1 Lista de Entrenadores
  table
    thead
      tr
        th ID
        th Nombre
        th Especialidad
        th Acciones
    tbody
      each entrenador in entrenadores
        tr
          td= entrenador.Id_entrenador
          td= entrenador.nombre
          td= entrenador.especialidad
          td
            a(href=`/entrenadores/edit/${entrenador.Id_entrenador}`) Editar
            |
            a(href=`/entrenadores/delete/${entrenador.Id_entrenador}`) Eliminar
  a(href="/entrenadores/add") Agregar Nuevo Entrenador