extends ../templates/layout

block content
    div 
        h3 Desasociar sesión del entrenador
        form(action=`/entrenadores/${idEntrenador}/sesiones/delete/${idSesion}` method="post")
            input(type="hidden" name="idSesion" value=`${idSesion}`)
            p
                | ¿Estás seguro de que deseas desasociar la sesión con ID: 
                strong #{idSesion}
                | ?
            br
            button(type="submit") Confirmar Desasociación
        a(href=`/entrenadores/${idEntrenador}/sesiones`) Cancelar y volver a la lista
