extends ../templates/layout

block content
    div.container.mt-5.mb-4
        h3.text-center.text-danger.mb-4 Desasociar sesión del entrenador
        
        // Formulario para confirmar la desasociación de una sesión
        form(action=`/entrenadores/${idEntrenador}/sesiones/delete/${idSesion}` method="POST" class="bg-light p-4 rounded shadow-sm")
            input(type="hidden" name="idSesion" value=`${idSesion}`)
            
            p.text-center
                | ¿Estás seguro de que deseas desasociar la sesión con ID: 
                strong #{idSesion}
                | ?
            
            div.text-center.mt-4
                button(type="submit" class="btn btn-danger btn-lg me-3") Confirmar Desasociación
                a(href=`/entrenadores/${idEntrenador}/sesiones` class="btn btn-secondary btn-lg") 
                    i.fas.fa-arrow-left.me-2
                    | Cancelar y volver a la lista de sesiones
