extends ../templates/layout

block content
    h1 Sesiones del entrenador #{entrenadorData.nombre}
    form(id="formularioEntrenador") 
        select(id="entrenador")
            each entrenador in listaEntrenadores
                if entrenadorData.id === entrenador.id
                    option(value=`${entrenador.id}` selected)  #{entrenador.nombre}
                else
                    option(value=`${entrenador.id}`)  #{entrenador.nombre}
    table.table
        thead
            tr
                th ID Sesion
                th Fecha inicio
                th Hora inicio
                th Duracion min
                th Eliminar
        tbody
            each sesion in sesiones
                tr
                    td= sesion.id
                    td= sesion.fecha_inicio
                    td= sesion.hora_inicio
                    td= sesion.duracion_min
                    td 
                        a(href=`/entrenadores/${entrenadorData.id}/sesiones/delete/${sesion.id}`) Eliminar

    script(src="/js/sesiones.js")