extends ../templates/layout
block content
  h1 Confirmar Eliminación
  p ¿Estás seguro de que deseas eliminar este cliente?
  form(action=`/clientes/delete/${cliente.id}` method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" id="nombre" value=cliente.nombre readonly="readonly" required)
    div
      label(for="email") Email:
      input(type="text" name="email" id="email" value=cliente.email readonly="readonly" required)
    div
      label(for="fecha_registro") Fecha de Registro:
      input(type="text" name="fecha_registro" id="fecha_registro" value=cliente.fecha_registro readonly="readonly" required)
    div
      label(for="numero_telefono") Número de Teléfono:
      input(type="text" name="numero_telefono" id="numero_telefono" value=cliente.numero_telefono readonly="readonly" required)
    button(type="submit") Eliminar
  a(href="/clientes") Volver a la lista de clientes
