extends ../templates/layout

block content
    div.container 
        h3 Listado de clientes:
        table.table
            thead 
                tr 
                    th id_cliente 
                    th Nombre 
                    th Email 
                    th Fecha de Registro 
                    th Numero de telefono 
                    th Borrar 
                    th Editar
                    th Mostrar planes
                    th Añadir planes

            tbody 
                each cliente in clientes 
                    tr 
                        td=cliente.id
                        td=cliente.nombre 
                        td=cliente.email 
                        td=cliente.fecha_registro 
                        td=cliente.numero_telefono 
                        td 
                            a(href=`/clientes/delete/${cliente.id}`) Borrar
                        td
                            a(href=`/clientes/edit/${cliente.id}`) Editar
                        td 
                            a(href=`/clientes/${cliente.id}/planes`) Ver planes
                        td 
                            a(href=`/clientes/${cliente.id}/planes/add`) Añadir planes
        p 
            a(href=`/clientes/add`) Añadir
