extends ../templates/layout

block content
    div.container 
        h3 Listado de clientes:
        table.table.table-striped.table-hover
            thead 
                tr 
                    th ID Cliente
                    th Nombre
                    th Email
                    th Fecha de Registro
                    th Número de Teléfono
                    th Borrar
                    th Editar
                    th Mostrar Planes
                    th Añadir Planes

            tbody 
                each cliente in clientes 
                    tr 
                        td= cliente.id
                        td= cliente.nombre
                        td= cliente.email
                        td= cliente.fecha_registro
                        td= cliente.numero_telefono
                        td 
                            a.btn.btn-danger.btn-sm(href=`/clientes/delete/${cliente.id}`) Borrar
                        td
                            a.btn.btn-warning.btn-sm(href=`/clientes/edit/${cliente.id}`) Editar
                        td 
                            a.btn.btn-info.btn-sm(href=`/clientes/${cliente.id}/planes`) Ver Planes
                        td 
                            a.btn.btn-success.btn-sm(href=`/clientes/${cliente.id}/planes/add`) Añadir Planes
        p.mt-3
            a.btn.btn-primary(href=`/clientes/add`) Añadir Cliente
