extends ../templates/layout

block content
    div.container 
        h3 Listado de clientes:
        table.table
            thead 
                tr 
                    th id_cliente 
                    th Nombre 
                    th Email 
                    th Fecha de REgistro 
                    th Numero de telefono 
                    th Borrar 
                    th Editar
            tbody 
                each cliente in clientes 
                    tr 
                        td=cliente.Id_cliente 
                        td=cliente.nombre 
                        td=cliente.email 
                        td=cliente.fecha_registro 
                        td=cliente.numero_telefono 
                        td 
                            a(href=`/clientes/delete/${cliente.Id_cliente}`) Borrar
                        td
                            a(href=`/clientes/edit/${cliente.Id_cliente}`) Editar
        p 
            a(href=`/clientes/add`) Añadir
