extends ../templates/layout

block content
    div.container 
        h3 Listado de clientes:
        table.table
            thead 
                tr
                    th Id Cliente
                    th Nombre 
                    th Email
                    th Fecha de Registro 
                    th Número de Teléfono
                    th Acciones
            tbody
                if clientes && clientes.length > 0
                    each cliente in clientes
                        tr 
                            td= cliente.Id_cliente
                            td= cliente.nombre
                            td= cliente.email
                            td= cliente.fecha_registro
                            td= cliente.numero_telefono
                            td 
                                a.btn.btn-danger(href=`/clientes/delete/${cliente.Id_cliente}`) Borrar
                                a.btn.btn-primary(href=`/clientes/edit/${cliente.Id_cliente}`) Editar
                else
                    tr
                        td(colspan="5") No hay clientes disponibles
        p 
            a.btn.btn-success(href="/clientes/add") Añadir un cliente nuevo
